.form-container4 {
    display: flex;
    max-width: 1000px;
    margin: 20px 30px;
    padding: 20px;
    gap: 40px;
    font-family: "Abel", sans-serif;
    font-weight: 40;
}

.form-left4 {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-section4 {
    width: 100%;
}

h2 {
    color: #333;
    font-size: 20px;
    margin-bottom: 20px;
}

.inputsG14, .inputsG24, .label-Group4, .columnUserInfo4 {
    display: flex;
    align-items: center; /* Alinea los elementos verticalmente en el centro */
    align-content: center;
    gap: 8px;
}

.input-group4{
    margin-top: 20px;
    margin-right: 20px;
}

.input-group4,  .input-group14, .input-group24 {
    margin-bottom: 15px;
}

.input-group14, .input-name-p4, .inputChange4{
    width: 200px;
}

.name-p4{
    width: 150px;
}

.input-Address4{
    width: 190px;
}

.input-group24 {
    width: 145px;
    margin-left: 33px;
}

.input-tel4{
    width: 338px;
}

.input-row4 {
    display: flex;
    margin-bottom: 10px;
    gap: 18px;
}


label {
    display: block;
    margin-bottom: 5px;
    color: #666;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 8px;
    border: none;
    border-bottom: 2px solid #717171;
    border-radius: 6px;
    outline: none;
    font-size: 14px;
}

input:focus {
    outline: none;
    border-color: #007bff;
}

.image-section4 {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 120px;
    margin-right: 60px;
}

.image-placeholder4 {
    width: 200px;
    height: 200px;
    border: 2px dashed #ddd;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
}

.image-placeholder4 span {
    font-size: 40px;
    color: #ccc;
}

@media (max-width: 768px) {
    .form-container4 {
        flex-direction: column;
    }

    .image-section4 {
        width: 100%;
    }
}


.buttonUpContainer{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.buttonUpdate4 {
    width: 300px;
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    color: #00328f;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #00328f;
}

.buttonUpdate4:hover {
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid #00328f;
    box-shadow: 4px 5px 17px -4px #00328f;
}

.buttonUpdate4::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #00328f;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
}

.buttonUpdate4:hover::before {
    width: 250%;
}