.GstadisticsContainer{
    display: flex;
}

.Gstadistics{
    padding: 30px;
}

.BtnGeneratePDF {
    width: 300px;
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    color: #0671E0;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #0671E0;
}

.BtnGeneratePDF:hover {
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid #0671E0;
    box-shadow: 4px 5px 17px -4px #0671E0;
}

.BtnGeneratePDF::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #0671E0;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
}

.BtnGeneratePDF:hover::before {
    width: 250%;
}

.BtnGenerateContainer{
    display: flex;
    margin-top: 20px;
    gap: 30px;
}

.StdImage{
    margin: 30px;
}

.Rangedates{
    margin-top: 30px;
}
